@import 'base/fonts';
@import 'base/globals';
@import 'base/reset';

@import 'libs/swiper-bundle.scss';

@import '../components/components';

html,body {
  height: 100%;
}
body {
  background-color: #FDFDFB;
}

.wrapper {
  font-size: $font-size;
  font-family: $font-family;
  max-width: $max-width + 20;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
